/*ELELEMENTS CSS*/
html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    padding: 0;
    width: 100%;
    border: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: gray;
  overflow: hidden;
  
}

li {
  float: left;
}

a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 14px 16px;
  text-align: right;
}

section {
    background-color: white;
    color: black;
    text-align: center;
    padding: 70px;
    height: 100vh;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: static;
    bottom: 0;
    border: none;
}


/*CLASS CSS*/
.home {
    background-color: white;
    color: black;
    text-align: center;
    padding: 70px;
    height: 100vh;
}

.home : hover {
  background-color: #555;
}
