/*ELELEMENTS CSS*/
* {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ddd;
  font-family: 'Roboto Mono', monospace;
  line-height: 1.6;
}

ul {
  list-style-type: none;
  background-color: black;
  overflow: hidden;
}

li {
  float: left;
}

a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 14px 16px;
}

/* Main section styles */
main {
  padding: 20px;
}


section {
    color: black;
    text-align: center;
    padding: 70px;
    height: 100vh;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: static;
    bottom: 0;
    border: none;
}

/*CLASS CSS*/
.home {
    color: black;
    text-align: center;
    padding: 70px;
  
}

.home : hover {
  background-color: #555;
}

/*  ID CSS*/
#projects {
  text-align: center;
  padding: 20px;
}

/* About Me section styles */
#about_me {
  text-align: center;
  padding: 20px;
}

/* Contacts section styles */
#contacts {
  text-align: center;
  padding: 20px;
}

